@charset "UTF-8";
/*Обнуление*/
@import url("../font/Montserrat-VariableFont_wght.ttf");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1285px;
  margin: 0px auto;
}

.subtitle {
  max-width: 550px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
  margin: 20px auto 60px auto;
  color: rgba(6, 37, 38, 0.7);
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}

h2 {
  font-weight: 800;
  font-size: 38px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #062526;
}

.swiper-button-prev.sw5p, .swiper-button-prev.sw4p, .swiper-button-prev.sw2p, .swiper-button-prev.sw3p,
.swiper-button-next.sw5p,
.swiper-button-next.sw4p,
.swiper-button-next.sw2p,
.swiper-button-next.sw3p {
  background: url("../img/arrow_forward_ios.svg") #fff center center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 64px;
  height: 64px;
  border-radius: 50px;
  left: -17px;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
}

.swiper-button-prev.sw5n, .swiper-button-prev.sw4n, .swiper-button-prev.sw2n, .swiper-button-prev.sw3n,
.swiper-button-next.sw5n,
.swiper-button-next.sw4n,
.swiper-button-next.sw2n,
.swiper-button-next.sw3n {
  background: url("../img/arrow_forward_ios.svg") #fff center center;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
  right: -35px;
}

.intro {
  background: linear-gradient(343.84deg, rgba(0, 0, 0, 0.81) 11.23%, rgba(0, 0, 0, 0.72) 113.3%);
}

.intro .swiper-pagination-fraction,
.intro .swiper-pagination-custom,
.intro .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 35px;
}

.intro .swiper-pagination-bullet {
  background: rgba(217, 217, 217, 0.5);
}

.intro .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.intro .img .fl02 {
  -webkit-transform: rotate(-51deg) matrix(-0.63, -0.78, -0.78, 0.63, 0, 0);
          transform: rotate(-51deg) matrix(-0.63, -0.78, -0.78, 0.63, 0, 0);
}

.intro .img .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.intro .swiper-slide {
  position: relative;
  padding: 110px 0px;
}

.intro .container {
  position: inherit;
  z-index: 333;
}

.intro .butt {
  margin: 0px auto;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background: #ad8bff;
  border-radius: 16px;
  letter-spacing: 0.02em;
  padding: 18px 26px 18px 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  border: 0.5px solid #ad8bff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #ffffff;
}

.intro .butt svg {
  fill: #d9d9d9;
}

.intro .butt:hover {
  background: #ffffff;
  color: #ad8bff;
  border: 0.5px solid #ad8bff;
}

.intro .butt:hover svg {
  fill: #ad8bff;
}

.intro .info {
  margin: 30px 0px 60px 0px;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.intro h2 {
  max-width: 950px;
  margin: 0px auto;
  font-weight: 600;
  font-size: 52px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.format {
  padding: 90px 0px 0px 0px;
}

.format .container {
  position: relative;
}

.format .swiper-slide {
  height: 500px;
  text-align: center;
  padding: 20px 0px 0px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.format .swiper-slide:nth-child(even) {
  margin: 44px 0px 0px 0px;
}

.format .swiper-slide:nth-child(even):hover {
  margin: 0px 0px 0px 0px;
}

.format .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  margin: 40px 0px 0px 0px;
  color: #062526;
}

.format .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 268px;
  height: 376px;
  padding: 32px 24px 24px;
  background: #f2f2f2;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.format .item:hover {
  height: 420px;
  background: #fbfbfb;
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
}

.format .item:hover .butt {
  display: block;
}

.format .item .butt {
  margin: 20px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #ad8bff;
  border-radius: 16px;
  padding: 18px 24px;
  color: #ad8bff;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  max-width: 163px;
  text-align: center;
  letter-spacing: 0.01em;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.format .item .butt:hover {
  background: #ad8bff;
  color: #fff;
}

.format .item .img img {
  width: 220px;
  height: 220px;
  border-radius: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.capabilities {
  padding: 30px 0px 0px 0px;
}

.capabilities .line01 {
  width: 83px;
  position: relative;
}

.capabilities .line01 img {
  position: absolute;
  left: 0;
  top: 135px;
}

.capabilities .line02 {
  position: relative;
  width: 100%;
  height: 50px;
}

.capabilities .line02 img {
  position: absolute;
  right: 184px;
}

.capabilities .line03 {
  width: 83px;
  position: relative;
}

.capabilities .line03 img {
  position: absolute;
  left: 0;
  top: 135px;
}

.capabilities .line04 {
  position: relative;
  width: 100%;
  height: 90px;
}

.capabilities .line04 img {
  position: absolute;
  right: 237px;
}

.capabilities .iphones {
  margin: -23px auto 0px auto;
  width: 763px;
  height: 548px;
  background: url("../img/iPhones.png") no-repeat;
  background-position-y: top;
  background-size: cover;
}

.capabilities .it02 {
  margin: 115px 0px 0px 0px;
}

.capabilities .it04 {
  margin: 115px 0px 0px 0px;
}

.capabilities p {
  margin: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: rgba(6, 37, 38, 0.9);
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}

.capabilities h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  margin: 0px 0px 16px 0px;
  color: #062526;
}

.capabilities .item {
  padding: 24px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 478px;
  height: 282px;
}

.capabilities .item .img {
  margin: 0px 24px 0px 0px;
}

.capabilities .item .img img {
  width: 156px;
  height: 234px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.capabilities .wrapper {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1040px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stability {
  padding: 45px 0px 0px 0px;
}

.stability p {
  margin: 20px 0px 0px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */
  text-align: center;
  letter-spacing: 0.01em;
  color: #1d3e35;
}

.stability .item {
  width: 200px;
  text-align: center;
}

.stability .wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  max-width: 800px;
}

.stability h3 {
  margin: 0px auto 40px auto;
  max-width: 440px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  text-align: center;
  color: #062526;
}

.video-pf {
  padding: 64px 0px 0px 0px;
}

.video-pf .video {
  max-width: 820px;
  margin: 0px auto;
}

.video-pf .video iframe {
  border-radius: 21.1413px;
}

.control {
  padding: 120px 0px 0px 0px;
}

.control .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  margin: 0px 0px 24px 0px;
  color: #062526;
}

.control .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  letter-spacing: 0.01em;
  color: rgba(6, 37, 38, 0.9);
}

.control .info {
  max-width: 280px;
}

.control .item {
  margin: 0px auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control .container {
  position: relative;
  max-width: 805px;
}

.functions {
  padding: 90px 0px 0px 0px;
}

.functions .img {
  margin-top: -7px;
}

.functions .swiper-wrapper {
  padding: 30px;
}

.functions .container {
  position: relative;
}

.functions p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */
  letter-spacing: 0.01em;
  color: rgba(6, 37, 38, 0.9);
  /* brightness */
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}

.functions .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  margin: 0px 0px 12px 0px;
  color: #1d3e35;
}

.functions .info {
  padding: 24px;
}

.functions .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 0px;
  width: 500px;
  height: 400px;
  background: #ffffff;
  /* darkness */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}

.support {
  padding: 90px 0px 0px 0px;
}

.support .item-01 {
  top: -17px;
  background: url("../img/sp01.png");
}

.support .item-02 {
  right: 0;
  top: 230px;
  background: url("../img/sp02.png");
}

.support .item-03 {
  right: 111px;
  bottom: 100px;
  background: url("../img/sp03.png");
}

.support .item-04 {
  bottom: 100px;
  left: 111px;
  background: url("../img/sp04.png");
}

.support .item-05 {
  left: 0;
  top: 230px;
  background: url("../img/sp05.png");
}

.support .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  height: 280px;
  position: absolute;
  border-radius: 50%;
}

.support .item span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  max-width: 200px;
  margin-bottom: 45px;
  text-align: center;
  color: #ffffff;
}

.support .title {
  max-width: 390px;
  text-align: center;
}

.support .circle {
  font-weight: 800;
  font-size: 38px;
  line-height: 130%;
  /* or 49px */
  letter-spacing: 0.01em;
  color: #062526;
  /* darkness_max */
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 800px;
  height: 800px;
  border: 1px solid #ad8bff;
  border-radius: 50%;
}

.support .wrapper {
  margin: 0px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1020px;
  height: 1020px;
}

.questions {
  padding: 90px 0px 0px 0px;
}

.questions .butt {
  padding: 10px 24px;
  margin: 30px auto 0px auto;
  width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ad8bff;
}

.questions .butt svg {
  fill: #ad8bff;
}

.questions .q-butt {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #ad8bff;
  border: 1px solid #ad8bff;
  border-radius: 16px;
  width: 265px;
  padding: 18px 0;
  text-align: center;
}

.questions .q-butt.active {
  background: #ad8bff;
  color: #fff;
}

.questions .wrapper {
  gap: 16px;
  max-width: 827px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles {
  position: relative;
  padding: 90px 0px 0px 0px;
}

.articles .swiper-button-next.sw5n {
  right: -17px;
}

.articles .butt {
  margin: 0px auto;
  border: 1px solid #ad8bff;
  padding: 10px 24px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  letter-spacing: 0.01em;
  /* nw/accent */
  color: #ad8bff;
}

.articles .butt svg {
  fill: #ad8bff;
}

.articles .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  color: #1d3e35;
}

.articles span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: block;
  margin: 24px 0px 12px 0px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(29, 62, 53, 0.7);
  /* brightness */
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}

.articles .swiper-wrapper {
  padding: 30px 0px 30px 0px;
}

.articles .img img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.articles .subtitle {
  margin: 20px auto 30px auto;
}

.articles .item {
  text-align: center;
  margin: 0px auto;
  background: #ffffff;
  /* darkness */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  width: 288px;
  height: 511px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 24px 24px;
}

.articles .container {
  position: relative;
}

.indicators {
  padding: 90px 0px 0px 0px;
}

.indicators .item-01 {
  margin-top: 60px;
}

.indicators .item-02 {
  margin-top: 75px;
}

.indicators .item-03 {
  margin-top: 90px;
}

.indicators .item-04 {
  margin-top: 0;
}

.indicators .item-04 {
  border-radius: 50%;
  border: 4px solid #ad8bff;
  /* darkness_max */
  -webkit-filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
  width: 230px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicators .item-04 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: rgba(29, 62, 53, 0.6);
}

.indicators .item-04 span {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  text-align: center;
  color: #ad8bff;
}

.indicators .item-03 {
  border-radius: 50%;
  border: 4px solid #dc87ba;
  /* darkness_max */
  -webkit-filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicators .item-03 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: rgba(29, 62, 53, 0.6);
}

.indicators .item-03 span {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  text-align: center;
  color: #dc87ba;
}

.indicators .item-02 {
  border-radius: 50%;
  border: 4px solid #e87b7b;
  /* darkness_max */
  -webkit-filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
  width: 230px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicators .item-02 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: rgba(29, 62, 53, 0.6);
}

.indicators .item-02 span {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  text-align: center;
  color: #e87b7b;
}

.indicators .item-01 {
  border-radius: 50%;
  border: 4px solid #dcbf34;
  /* darkness_max */
  -webkit-filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.15));
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.indicators .item-01 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: rgba(29, 62, 53, 0.6);
}

.indicators .item-01 span {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  text-align: center;
  color: #dcbf34;
}

.indicators .wrapper {
  margin: 0px auto;
  max-width: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq {
  padding: 90px 0px 250px 0px;
}

.faq .wrapper {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.95);
  /* darkness_max */
  -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
}

.faq .question-js {
  position: relative;
  cursor: pointer;
  background: #ffffff;
  /* Border / Top */
  -webkit-box-shadow: inset 0px 1px 0px #dddfe0;
          box-shadow: inset 0px 1px 0px #dddfe0;
  padding: 24px;
  color: #062526;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.faq .question-js.active::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  content: "";
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background: url("../img/faq-arr.svg");
}

.faq .question-js::before {
  content: "";
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background: url("../img/faq-arr.svg");
}

.faq .question-js:nth-child(1) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq .answer-js {
  letter-spacing: 0.01em;
  color: rgba(6, 37, 38, 0.9);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 24px;
  background: #ffffff;
  /* Border / Top */
  -webkit-box-shadow: inset 0px 1px 0px #dddfe0;
          box-shadow: inset 0px 1px 0px #dddfe0;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.faq .answer-js.active {
  display: block;
}
