@import "_nullstyle";
@import url("../font/Montserrat-VariableFont_wght.ttf");

body {
   font-family: "Montserrat", sans-serif;
}
.container {
   max-width: 1285px;
   margin: 0px auto;
}
.subtitle {
   max-width: 550px;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
   letter-spacing: 0.01em;
   margin: 20px auto 60px auto;
   color: rgba(6, 37, 38, 0.7);
   text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
}
h2 {
   font-weight: 800;
   font-size: 38px;
   line-height: 130%;
   text-align: center;
   letter-spacing: 0.01em;

   color: #062526;
}
.intro {
   .swiper-pagination-fraction,
   .swiper-pagination-custom,
   .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: 35px;
   }
   .swiper-pagination-bullet {
      background: rgba(217, 217, 217, 0.5);
   }
   .img {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      .fl02 {
         transform: rotate(-51deg) matrix(-0.63, -0.78, -0.78, 0.63, 0, 0);
      }
      .bg {
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         background: rgba(0, 0, 0, 0.5);
      }
   }
   .swiper-slide {
      position: relative;
      padding: 110px 0px;
   }
   .container {
      position: inherit;
      z-index: 333;
   }
   .butt {
      margin: 0px auto;
      width: 270px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      background: #ad8bff;
      border-radius: 16px;
      letter-spacing: 0.02em;
      padding: 18px 26px 18px 32px;
      font-weight: 300;
      font-size: 16px;
      line-height: 120%;
      border: 0.5px solid #ad8bff;
      transition: 0.2s;
      svg {
         fill: #d9d9d9;
      }

      color: #ffffff;
      &:hover {
         background: #ffffff;
         color: #ad8bff;
         svg {
            fill: #ad8bff;
         }

         border: 0.5px solid #ad8bff;
      }
   }
   .info {
      margin: 30px 0px 60px 0px;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.03em;

      color: #ffffff;
   }
   h2 {
      max-width: 950px;
      margin: 0px auto;
      font-weight: 600;
      font-size: 52px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.01em;

      color: #ffffff;
   }
   background: linear-gradient(343.84deg, rgba(0, 0, 0, 0.81) 11.23%, rgba(0, 0, 0, 0.72) 113.3%);
}
.format {
   .container {
      position: relative;
   }
   .swiper-button-prev,
   .swiper-button-next {
      &.sw2p {
         background: url("../img/arrow_forward_ios.svg") #fff center center;
         background-repeat: no-repeat;
         transform: rotate(180deg);
         width: 64px;
         height: 64px;
         border-radius: 50px;
         left: -10px;
         box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
      }
      &.sw2n {
         background: url("../img/arrow_forward_ios.svg") #fff center center;
         background-repeat: no-repeat;
         width: 64px;
         height: 64px;
         border-radius: 50px;
         box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
         right: -35px;
      }
   }

   .swiper-slide {
      height: 500px;
      text-align: center;
      padding: 20px 0px 0px 20px;
      transition: 0.2s;
      &:nth-child(even) {
         margin: 44px 0px 0px 0px;
         &:hover {
            margin: 0px 0px 0px 0px;
         }
      }
   }

   padding: 90px 0px 0px 0px;
   .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      margin: 40px 0px 0px 0px;
      color: #062526;
   }
   .item {
      display: flex;
      flex-direction: column;
      width: 268px;
      height: 376px;
      padding: 32px 24px 24px;
      background: #f2f2f2;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 32px;
      transition: 0.1s;
      &:hover {
         height: 420px;
         background: #fbfbfb;
         box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
         .butt {
            display: block;
         }
      }

      .butt {
         margin: 20px auto;

         align-self: center;
         border: 1px solid #ad8bff;
         border-radius: 16px;
         padding: 18px 24px;
         color: #ad8bff;
         font-weight: 500;
         font-size: 16px;
         line-height: 120%;
         max-width: 163px;
         text-align: center;
         letter-spacing: 0.01em;
         display: none;
         //display: block;
      }
      .img {
         img {
            width: 220px;
            height: 220px;
            border-radius: 150px;
            object-fit: cover;
         }
      }
   }
}
.capabilities {
   .it02 {
      margin: 90px 0px 50px 0px;
   }
   .it04 {
      margin: 90px 0px 0px 0px;
   }
   p {
      margin: 0px 0px 10px 0px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: rgba(6, 37, 38, 0.9);
      text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.3);
   }
   h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      margin: 0px 0px 16px 0px;
      color: #062526;
   }
   .item {
      padding: 24px;
      background: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 32px;
      display: flex;
      width: 478px;
      height: 282px;
      .img {
         margin: 0px 24px 0px 0px;
         img {
            width: 156px;
            height: 234px;
            object-fit: cover;
            border-radius: 10px;
         }
      }
   }
   .wrapper {
      margin: 0px auto;
      display: flex;
      max-width: 1040px;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   padding: 30px 0px 0px 0px;
}
